<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kostikum.itac">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
      
        <service
            android:name="com.kostikum.itac.dz5.WifiCheckingService"
            android:enabled="true">
        </service>

        <activity android:name="com.kostikum.itac.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.kostikum.itac.dz1.Dz1Activity" />
        <activity android:name="com.kostikum.itac.dz2.Dz2Activity" />
        <activity android:name="com.kostikum.itac.dz3.Dz3Activity" />
        <activity android:name="com.kostikum.itac.dz3.Dz3LoginActivity" />
        <activity android:name="com.kostikum.itac.dz4.Dz4PagerActivity" />
        <activity android:name="com.kostikum.itac.dz5.Dz5Activity" />
        <activity android:name="com.kostikum.itac.dz6.Dz6Activity" />
        <activity android:name="com.kostikum.itac.dz6.EditFellowActivity" />

    </application>
</manifest>
